# Backend
APP_PORT=8090
MONGO_URI=mongodb://mongo:27017
MONGO_DB=truckshop
JWT_SECRET=dev_secret_change_me
TZ=America/New_York
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# Frontend
VITE_API_URL=http://localhost:8090

